<ion-header>
    <ion-toolbar color="green">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>รายละเอียดของท่าน</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
    <ion-list lines="full">
      <ion-item>
        <ion-input required type="text" placeholder="ชื่อ-นามสกุล" [(ngModel)]="booking.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required type="number" placeholder="Priority" [(ngModel)]="booking.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required type="number" placeholder="Priority" [(ngModel)]="booking.hotelid"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required type="number" placeholder="Priority" [(ngModel)]="booking.guest"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveBooking()">บันทึกข้อมูล</ion-button>
  </ion-content>