<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.0-9/23319361_1544790115615269_9147349486700821694_n.jpg?_nc_cat=106&_nc_ht=scontent.fbkk12-1.fna&oh=f6a9fe88d9664c96c5c3678d94642637&oe=5D279184"></ion-img>
    <ion-card-header>
      <ion-card-title>ร้านหมูสองชั้น</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> บุฟเฟ่ต์หมูจุ่ม รวมเครื่องดื่ม ราคา 199 บาทต่อท่าน อาหารไม่ค่อยมากมายเท่าไรแต่บอกเลยว่าทุกตัวเด็ด ไม่ว่าจะเป็นหมูหมัก หมูสามชั้น เบคอน ปลา หมึก แมงกะพรุน ลูกชิ้นปลา ไส้กรอก ไส้ หมูเด้ง ตับ ไก่ เนื้อหมัก ผักสด เห็ด ไอศกรีม ของหวาน ผลไม้ น้ำอัดลม น้ำเปล่า เรียกได้ว่าจัดเต็ม สำหรับหมูสไลซ์นี่ไม่มีในไลน์บุฟเฟ่ต์นะจ๊ะ เขาจะมีแผ่นกระดาษบนโต๊ะ ให้สั่งเอาเองแล้วพนักงานจะเอามาเสิร์ฟ </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-img src="http://www.tripgether.com/photos/shares/2018_All_Content/Jun_2018/Edit_scoop_2018/Maekuang_5.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>ร้านอาหารดงมาดาม</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> ดงมาดาม เป็นคาเฟ่และร้านอาหารเล็กๆ ตั้งอยู่บริเวณด้านหลังมหาวิทยาลัยเชียงใหม่ ตกแต่งสไตล์วินเทจ เหมือนหลุดเข้าไปนั่งในกระท่อมเล็กๆจากป่าในเทพนิยาย ที่นี่มีทั้งอาหารและขนม เมูอาหารเช่น ข้าวหมูอบโรสแมรี่ กะเพราเนื้อ กะเพราหมู ปลาหมึกผัดผงกระหรี่ สเต็กหมู สเต็กไก่จานใหญ่ที่เสริฟพร้อมกับสลัดผักและผลไม้และเฟรนช์ฟรายส์ หรือจะลองเมนูขนมมีทั้ง เครมบูเล่ ชูครีม ชีสเค้ก เลม่อนพาย เป็นต้น โดยทั้ง2เมนูจะถูกเสิร์ฟมาในจาดจัดตกแต่งสวยงามอลังการดาวล้านดวง อาจจะต้องรอนานนิดหน่อย แต่คุ้มค่าคุ้มเวลาแน่นอน กระซิบว่าอาหารและที่นี่ราคาไม่แพงเกินไปอีกด้วย </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-img src="https://ed.files-media.com/ud/review/1/156/465217/cover_ohkajhu-850x567.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>โอ้กะจู๋</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> ศรัทธา” คำนี้มีพลังยิ่งใหญ่ การได้รับประทานผักสดปลอดสารพิษจากการ...ปลูกผักเพราะรักแม่ ที่เกิดขึ้นจากแรงบันดาลใจ และเชื่อมั่นต่อพลังสามัคคีปลูกผักด้วยตนเอง ได้เห็นการงอกงามแตกใบของผักที่ปลูก ได้ตัดเก็บผลผลิตจากต้นด้วยมือผู้ปลูก ได้ตระหนักถึงการบริโภคอาหารที่ปลูกด้วยรัก คือพื้นฐานสำคัญของสุขภาพกาย และสุขภาพใจ </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-img src="http://www.tripgether.com/photos/shares/2018_All_Content/Jun_2018/Edit_scoop_2018/Maekuang_5.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>ร้านอาหารดงมาดาม</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> ดงมาดาม เป็นคาเฟ่และร้านอาหารเล็กๆ ตั้งอยู่บริเวณด้านหลังมหาวิทยาลัยเชียงใหม่ ตกแต่งสไตล์วินเทจ เหมือนหลุดเข้าไปนั่งในกระท่อมเล็กๆจากป่าในเทพนิยาย ที่นี่มีทั้งอาหารและขนม เมูอาหารเช่น ข้าวหมูอบโรสแมรี่ กะเพราเนื้อ กะเพราหมู ปลาหมึกผัดผงกระหรี่ สเต็กหมู สเต็กไก่จานใหญ่ที่เสริฟพร้อมกับสลัดผักและผลไม้และเฟรนช์ฟรายส์ หรือจะลองเมนูขนมมีทั้ง เครมบูเล่ ชูครีม ชีสเค้ก เลม่อนพาย เป็นต้น โดยทั้ง2เมนูจะถูกเสิร์ฟมาในจาดจัดตกแต่งสวยงามอลังการดาวล้านดวง อาจจะต้องรอนานนิดหน่อย แต่คุ้มค่าคุ้มเวลาแน่นอน กระซิบว่าอาหารและที่นี่ราคาไม่แพงเกินไปอีกด้วย </p>
    </ion-card-content>
  </ion-card>
 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-google"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>


  